@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte, coffee --default;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 140px;
  position: relative;

}

body * {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.subtitle {
  padding-left: 15px;
  position: relative;
}
.subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 15px;
  background-color: currentColor;
}

.fieldset-legend {
  margin-bottom: -10px
}